@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    color: var(--color-light);
    background-color: var(--color-dark);
    font-family: Roboto;
}

a {
    color: var(--color-text-link);
    &:focus {
        outline: transparent;
    }
}
