:root {
	--color-light: #ffffff;
	--color-light-secondary: #f5f5f5;

	--color-dark: #4e4e4e;
	--color-dark-secondary: #acacac;

	--color-link: #5c9ad2;

	--color-green: #48c78e;
	--color-green-dark: #21a86b;
	--color-red: #ef5f5f;
	--color-red-dark: #eb4e4e;
	--color-red-semitransparent: rgba(239, 95, 95, 0.3);
	--color-error: #db9758;
}
